@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 2;
}

.intro-image {
    background-attachment: fixed;
    background-image: url("../img/candle1.jpg");
    background-position: center;
    background-size: cover;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image__text {
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

.btn_intro {
    background-color: #d3340c77;
    color: #674c2a ;
    display: inline-table;
    text-align: center;
    height: 100px;
    padding: 0 1rem;
    text-decoration: none;
    transition: all 0.3s;
}

.btn_intro:hover {
    transform: scale(1.2);
}

.intro-text {
    background-color: #996f47;
    text-align: center;
    height: 250px;
    align-items: center;
    justify-content: center;
    clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 76%, 68% 100%, 32% 100%, 0 78%, 0% 43%, 0 0); 
}

.heading-solid {
text-transform: uppercase;
font-size: 2rem;
}

.text-solid {
    font-size: 1.4rem;
}

.packaging-image {
    background-attachment: fixed;
    background-image: url("../img/candle2.jpg");
    background-size: cover;
    background-position: bottom;
     margin-top: -4rem;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.packaging-image__text {
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

.btn_packaging {
    background-color: #c6854369;
    color: #ab8259;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: 0 1rem;
    text-decoration: none;
    transition: all 0.3s;
}

.btn_packaging:hover {
    transform: scale(1.2);
}

.packaging-text {
    background-color:#4d4726;
    text-align: center;
    height: 350px;
    align-items: center;
    justify-content: center;
}

.tutorials-image {
    background-attachment: fixed;
    background-image: url("../img/candle3.jpg");
    background-size: cover;
    background-position: bottom;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tutorials-image__text {
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

.btn_tutorial {
    background-color: #c05d40d3;
    color: #172d49;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: 0 1rem;
    text-decoration: none;
    transition: all 0.3s;
}

.btn_tutorial:hover {
    transform: scale(1.2);
}

.footer {
    background-color: rgba(7, 50, 36, 0.582);
    color: #061524;
    font-size: 1.5rem;
    height: 150px;
    padding: 2vh;
    text-align: center;
    }

.footer ul li {
    display: inline-block;
    margin: 1rem;
}

.footer ul li a {
    color: #05111d;
    text-decoration: none;
}

.footer ul li:hover, .footer ul li a:hover {
    color: #06212b;
    transform: scale(1.2);
}